---
layout: default
---

<h1> Brief Project Information </h1>

The 'Biodiversity Related Risks and Opportunities to the Financial Sector' project is a groundbreaking initiative addressing a critical gap in biodiversity financing. Now, more than ever, the financial sector needs robust tools to understand and mitigate the impacts of biodiversity loss. This PPP's unique approach aligns science-based future biodiversity and financial scenarios, utilizing advanced economic modelling techniques to provide comprehensive monetary estimates of biodiversity effects on the economy at the country and sector levels. 
<p>
Wageningen University and Research (WUR) brings long-standing expertise in integrating science-based future scenarios with economic impacts, offering detailed insights into how biodiversity loss affects various sectors. This project stands out by delivering these insights and developing an additional, comprehensive dataset on possible abatement and restoration measures and their cost-effectiveness. 
<p>
By working closely with financial industry stakeholders (FIS), this PPP ensures that the developed data and methodologies are scientifically rigorous and practically applicable. This Public-Private Partnership is uniquely positioned to drive significant change in how the financial industry perceives and responds to biodiversity related risks and opportunities, making this initiative both timely and essential. 
<p>


<h1> Latest News </h1>



<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>

<h1> Join Us </h1>

We are always looking for new members to our consortium. Contact us if you're interested.